@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .transition-height{
    transition: height 0.3s ease-in-out;
  }
 
  .scrollbar-thumb-rounded {
   
    scrollbar-width: thin;
    scrollbar-color: rgba(147,51,234,0) transparent;
    transition: all .1s linear;
    
  }
  .scrollbar-thumb-rounded:hover {
    scrollbar-width: thin;
    scrollbar-color: rgba(43, 5, 255, 0.25) transparent ;
   
    
  }
  .scrollbar-thumb-rounded::-webkit-scrollbar {
    width: auto;
    border-radius: 10px;
  }
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    background-color: rgba(90, 5, 255, 0.01);
    border-radius: 10px;
  }
  .scrollbar-thumb-rounded::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
    border-radius: 10px; /* Border radius of the track */
  }
  
  
  /* .text-balance {
    text-wrap: balance;
  } */
}
